body{
    background-color: #121212;
    color: #7b7b7b;
}

.logo{
    color: white;
}

.featured h2{
    color: #bababa;
}

.minipost p{
    color: #bababa;
}

.single-content h1,h2{
    color: #bababa;
}