@font-face {
    font-family: "BAHNSCHRIFT";
    src: url(./BAHNSCHRIFT.TTF) format("truetype");
}

@font-face {
    font-family: "impactlocal";
    src: url(./impact.ttf) format("truetype");
}

@font-face {
    font-family: "TwCenClassMT";
    src: url(./TwCenMTStd-Bold.otf) format("truetype");
}

@font-face {
    font-family: "Constantia";
    src: url(./Constantia\ Font.ttf) format("truetype");
}

@font-face {
    font-family: "mulish";
    src: url(./Mulish-Regular.ttf) format("truetype");
}

a{
    text-decoration: none;
    color: inherit;
}

.header-nav-item{
    font-family: BAHNSCHRIFT;
    font-size: 18px;
}

.header-nav-item a:hover{
    color: black;
    filter: drop-shadow(2px 2px 2px #00c3ff);
        -webkit-filter: drop-shadow(2px 2px 2px #00c3ff);
}

.active{ 
    border-bottom: 3px solid #00c3ff;
}

.logo{
    max-width: 200px;
    filter: drop-shadow(2px 2px 2px #00c3ff);
        -webkit-filter: drop-shadow(2px 2px 2px #00c3ff);
}

.hero{
    background: #00c3ff url(https://images.unsplash.com/photo-1535136104956-115a2cd67fc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80);
    background-repeat: no-repeat;
    background-size: center center;
    color: white;
    font-family: "impactlocal";
    font-size: 40px;
    padding-top: 100px;
}

.section-title{
    font-family: "TwCenClassMT";
    border-bottom: 2px solid black;
    padding: 30px 0px 0px 0px;
}

.featured h2{
    font-family: "Constantia";
    /* font-size: 40px; */
}

.featured p{
    font-family: "mulish";
    font-size: 17px;
}

.minipost h2{
    font-family: "Constantia";
    font-size: 20px;
}

.minipost{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}