@font-face {
    font-family: "BAHNSCHRIFT";
    src: url(./BAHNSCHRIFT.TTF) format("truetype");
}

@font-face {
    font-family: "impactlocal";
    src: url(./impact.ttf) format("truetype");
}

@font-face {
    font-family: "TwCenClassMT";
    src: url(./TwCenMTStd-Bold.otf) format("truetype");
}

@font-face {
    font-family: "Constantia";
    src: url(./Constantia\ Font.ttf) format("truetype");
}

@font-face {
    font-family: "mulish";
    src: url(./Mulish-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "nouvelle";
    src: url(./nouvelle_vague_final.ttf) format("truetype");
}

@font-face {
    font-family: "Lato-Bold";
    src: url(./Lato-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Lato-Regular";
    src: url(./Lato-Regular.ttf) format("truetype");
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

p{
    font-family: "Mulish";
}

.header-nav-item{
    text-align: center;
}

.header-nav-item a:hover{
    color: inherit;
    filter: drop-shadow(2px 2px 2px #00c3ff);
        -webkit-filter: drop-shadow(2px 2px 2px #00c3ff);
}

.active{ 
    border-bottom: 3px solid #00c3ff;
    font-weight: bold;
}

.logo{
    font-family: "nouvelle";
}

.hero{
    background: #00c3ff url(https://images.unsplash.com/photo-1607970669494-309137683be5?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8cGN8fHx8fHwxNjM3MTQ1MDY0&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920);
    /* background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
    background-repeat: no-repeat;
    background-size: center center;
    color: white;
    font-family: "impactlocal";
    font-size: 40px;
    padding-top: 100px;
}

.ft-blocks{
    background-color: black;
    padding: 5px;
    color: white;
    height: 300px;
}

.section-title{
    font-family: "TwCenClassMT";
    border-bottom: 2px solid black;
    padding: 30px 0px 0px 0px;
}

.featured h2{
    font-family: "Constantia";
    /* font-size: 40px; */
}

.featured p{
    font-family: "mulish";
    font-size: 17px;
}

.minipost h2{
    font-family: "Constantia";
    font-size: 20px;
}

.minipost{
    padding-bottom: 10px;
    /* border-bottom: 1px solid gray; */
}

.minipost:last-child{
    border-bottom: none;
}

.single-content{
    /* margin-top: 50px; */
}

.single-content h1{
    font-family: "Constantia";
    margin: 50px 0px;
}

.single-content p{
    font-family: "mulish";
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  background-color: rgb(0, 116, 145);
  color: white;
}

@keyframes col {
    from {
        margin-top: 100px;
    }
    to {
        margin-top: 0px;
    }
}
  
.sticky .active{
    border-bottom: 3px solid white;
    animation-name: col;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  margin-top: 65.5px;
  z-index: 999;
}

footer{
    background-color: rgb(0, 116, 145);
    color: white;
}