@font-face {
    font-family: "BAHNSCHRIFT";
    src: url(./BAHNSCHRIFT.TTF) format("truetype");
}

@font-face {
    font-family: "impactlocal";
    src: url(./impact.ttf) format("truetype");
}

a{
    text-decoration: none;
    color: inherit;
}

.header-nav-item{
    font-family: BAHNSCHRIFT;
    font-size: 18px;
}

.header-nav-item a:hover{
    color: black;
    filter: drop-shadow(2px 2px 2px #00c3ff);
        -webkit-filter: drop-shadow(2px 2px 2px #00c3ff);
}

.active{ 
    border-bottom: 3px solid #00c3ff;
}

.logo{
    max-width: 200px;
    filter: drop-shadow(2px 2px 2px #00c3ff);
        -webkit-filter: drop-shadow(2px 2px 2px #00c3ff);
}

.hero{
    background: #00c3ff url(https://images.unsplash.com/photo-1560762484-813fc97650a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80);
    background-repeat: no-repeat;
    background-size: center center;
    color: white;
    font-family: "impactlocal";
    font-size: 40px;
    padding-top: 100px;
}