#TableOfContents ul {
    display: flex;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 16px 0px;
}

#TableOfContents::-webkit-scrollbar {
    display: none;
}

#TableOfContents li {
    display: inherit;
    color: rgb(55 65 81 / 1);
    /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */
    padding: 10px;
    border-radius: 1rem;
    margin-right: 1rem;
    border: 1px solid lightgray;
}

.gradient {
    background: rgb(234,67,53);
    background: -moz-linear-gradient(45deg, rgba(234,67,53,1) 14%, rgba(67,133,244,1) 40%, rgba(22,158,86,1) 60%, rgba(252,189,5,1) 86%);
    background: -webkit-linear-gradient(45deg, rgba(234,67,53,1) 14%, rgba(67,133,244,1) 40%, rgba(22,158,86,1) 60%, rgba(252,189,5,1) 86%);
    background: linear-gradient(45deg, rgba(234,67,53,1) 14%, rgba(67,133,244,1) 40%, rgba(22,158,86,1) 60%, rgba(252,189,5,1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea4335",endColorstr="#fcbd05",GradientType=1); 
}