{{ $style := resources.Get "./css/style.css" }}
{{ $custom := resources.Get "./css/custom.css" }}
{{ $er := resources.Get "./img/er.png" }}

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ .Site.Params.Author }}" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="stylesheet" href="{{ $custom.Permalink }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{ $er.Permalink }}" type="image/x-icon">

</head>