<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 md:gap-10 mt-0 md:mt-1">

    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
    <div class="rounded-xl min-w-64 max-w-full">
        <a href="{{ .Permalink }}">
            <div class="w-full h-[300px] md:h-64 rounded-xl"
                style="background: url('{{ .Params.thumb }}'); background-size: cover; background-position: center;">
            </div>
        </a>
        <div class="my-3 px-2 md:px-0">
            <div class="flex flex-wrap border-b pb-2">
                <div class="w-5/6">
                    <h1 class="text-lg text-bold truncate">
                        {{ .Title }}
                    </h1>
                    <p class="text-gray-500 text-sm truncate">
                        {{ .Params.location }}
                    </p>
                </div>
                <div class="w-1/6 text-xl text-right text-gray-500">
                    <button
                        class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path
                                d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="text-gray-600 border-b pb-2">
                <div class="flex flex-wrap">
                    <small class="mt-2 pr-2 w-1/4 truncate text-center"><i class="mr-1 fa fa-arrows-h"></i>
                        Space</small>
                    <small class="mt-2 pr-2 w-1/4 truncate text-center"><i class="mr-1 fa fa-building"></i>
                        Neighborhood</small>
                    <small class="mt-2 pr-2 w-1/4 truncate text-center"><i class="mr-1 fa fa-star"></i> New
                        building</small>
                    <small class="mt-2 pr-2 w-1/4 truncate text-center"><i class="mr-1 fa fa-bathtub"></i>
                        Amenities</small>
                </div>
            </div>
            <div class="mt-2 flex items-center">
                <div class="w-1/3">
                    <span class="text-gray-600">₹</span>
                    <span class="text-2xl font-bold">{{ .Params.price }}</span>
                    <span class="text-gray-600">/night</span>
                </div>
                <button type="button"
                    class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-2 py-1 text-center ml-auto">Enquire</button>
            </div>
        </div>
    </div>
    {{ end }}

</div>