@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body{
    background-color: #f1f3f4;
    font-family: 'EB Garamond', serif;
}

::-moz-selection{
    color: black;
	background: #fcd770;
}

::selection{
	color: black;
	background: #fcd770;
}

.thumbnail{
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.thumbnail:hover{
    border: 1px solid #fcd770;
    -webkit-box-shadow: 0 0 6px #fcd770;
    -moz-box-shadow: 0 0 6px #fcd770;
    box-shadow: 0 0 6px #fcd770;
}

u{
    text-decoration-color: #fcd770;
}

a{
    text-decoration-color: none;
    text-decoration-line: none;
}