*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: biko;
    src: url(./Biko_Bold.otf) format("truetype");
}

@font-face {
    font-family: sans3;
    src: url(./SourceSans3-Light.otf) format("truetype");
}

.disable-text-selection{
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
     user-select:none;
}

body{
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

nav {
	position: fixed;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
    z-index: 10;
}

.logo {
	position: fixed;
	top: 10px;
	right: 10px;
    z-index: 10;
    width: 50px;
    border-radius: 10px;
}

nav a {
	border: 4px solid #fff;
	border-radius: 50%;
	display: block;
	margin: 10px;
	height: 20px;
	width: 20px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

aside {
	position: fixed;
	bottom: 10px;
	right: 5px;
    z-index: 10;
}

aside a {
	/* border: 2px solid white; */
	border-radius: 100%;
	display: block;
	padding: 5px;
    margin: 10px;
	height: 20px;
    width: 20px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

#about, aside a:nth-of-type(1) {
	background-color: rgb(68, 68, 248);
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: auto; */
    overflow: hidden;
    margin: auto auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.container .section{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-blend-mode: multiply;
}

.header{
    color: aliceblue;
    font-size: 2.5vmax;
    text-shadow: 1.5px 1.5px 1.5px #000;
    font-family: 'biko';
}

.content{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70%;
    color: aliceblue;
    padding: 20px;
    font-size: 2.5vmax;
    text-shadow: 1.5px 1.5px 1.5px #000;
    font-family: 'sans3';
}

.read-btn{
    font-size: 15px;
    color: #fff;
    background-color: black;
    border: 0px;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 20px;
}